.container {
  padding: 1rem 2rem 2rem;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #229e86;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: #229e86;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  margin-bottom: 16px;
}

.btn.release {
  background-color: #ff4d4d;  /* Red for release button */  
}

.grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 16px;
}

.locker {
  height: 90px;
  background-color: #5088fa;
  border-radius: 0.25rem;
  margin: 2px;
  flex: 0 0 90px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 30px;
  transition: all 0.4s ease;
  opacity: 0.5;
}

.locker.available {
  opacity: 1;
}

.current-locker-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .current-locker {
    width: 200px;
    height: 200px;
    background-image: url(../../../assets/lock.png);
    background-size: cover;
    border-radius: 0.25rem;
    position: relative;
    transition: all 0.3s ease;
    margin: 50px 0 80px;
  }

  .current-locker.open {
    background-image: url(../../../assets/unlock.png);
  }
}

.info-text {
  font-size: 1rem;
}

.status-text {
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.bar {
  width: 7px;
  height: 26px;
  margin: 0 4px;
  border-radius: 10px;
  animation: loading_5192 1s ease-in-out infinite;
  background-color: #229e86;
}

.bar:nth-child(1) {
  animation-delay: 0.01s;
}

.bar:nth-child(2) {
  animation-delay: 0.09s;
}

.bar:nth-child(3) {
  animation-delay: 0.19s;
}

.bar:nth-child(4) {
  animation-delay: 0.29s;
}

@keyframes loading_5192 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.5);
  }

  40% {
    transform: scale(1);
  }
}
